<%- include('includes/head.ejs') %>

    <div class="container">
        <ul>
            <li>
                <strong>¿En qué consiste el control de acceso basado en roles?</strong>
                <ul>
                    <li>Es un sistema de seguridad que permite a los usuarios acceder a los recursos de la red de
                        acuerdo a su rol.</li>
                </ul>
            </li>
            <br><br>
            <li>
                <strong>
                    Investiguen y describan 2 sistemas, uno que aplique RBAC y uno que no. Realicen un análisis de
                    las
                    ventajas y desventajas de cada uno con respecto al control de acceso.</strong>
                <ul>
                    <li>
                        Ventajas de un sistem con RBAC:
                        <ul>
                            <li>Permite que los usuarios accedan a los recursos de la red de acuerdo a su rol.</li>
                            <li>Mayor flexibilidad, permitiendo una mejor gestion de parte de los administradores</li>
                            <li>Mayor seguridad, ya que los usuarios solo pueden acceder a los recursos que les
                                corresponden.</li>
                        </ul>
                    </li>
                    <li>
                        Ventajas de un sistema sin RBAC:
                        <ul>
                            <li>Es mas sencillo de implementar</li>
                            <li>Es mas sencillo de administrar</li>
                            <li>Es mas sencillo de usar</li>
                        </ul>
                    </li>
                    <li>
                        Desventajas de un sistema con RBAC:
                        <ul>
                            <li>Mayor complejidad</li>
                            <li>Mayor tiempo de implementacion</li>
                            <li>Mayor tiempo de administracion</li>
                        </ul>
                    </li>
                    <li>
                        Desventajas de un sistema sin RBAC:
                        <ul>
                            <li>Menor seguridad</li>
                            <li>Menor flexibilidad</li>
                            <li>Menor control</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <br><br>
    </div>

    <%- include('includes/foot.ejs') %>