</main>

<footer class="page-footer #9e9e9e grey">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">M1000r</h5>
                <p class="grey-text text-lighten-4">Especificaciones tecnicas</p>
            </div>
            <div class="col">
                <h5 class="white-text">Navegacion</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/lab12/">Inicio</a></li>
                    <li><a class="grey-text text-lighten-3" href="/lab12/preguntas">Preguntas</a></li>
                    <li><a class="grey-text text-lighten-3" href="/lab12/ordenar">Ordenar</a></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="white-text">Editor</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://code.visualstudio.com/">Visual Studio
                            Code</a></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="white-text">Contacto</h5>
                <ul>
                    <li>José Ricardo Rosales Castañeda</li>
                    <li>A01709449</li>
                    <li><a class="grey-text text-lighten-3" href="mailto:A01709449@tec.mx">A01709449@tec.mx</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2023 Copyright Text
        </div>
    </div>
</footer>
</body>

</html>