<%- include('includes/head.ejs') %>

    <h1>
        <%= titulo %>
    </h1>

    <div class="container">
        <img src="/uploads/<%= users.imagen%>" alt="">
    </div>

<%- include('includes/foot.ejs') %>